:root {
  --primary-color: #00afe9;
}

.App {
  max-width: 700px;
  max-height: 1200px;
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  border: 1px solid #00bfff;
  border-radius: 6px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.App h1 {
  text-align: center;
  color: var(--primary-color);
}
