.search-form-input {
  font-size: 16px;
  padding: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgba(224, 240, 255, 0.309);
  width: 80%;
}
.search-form-button {
  font-size: 16px;
  padding: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgb(78, 166, 248);
  color: white;
  margin-left: 5px;
  transition: all 200ms ease-in-out;
}
